@import "tailwindcss";

@theme {
  --color-primary: #3b82f6;
  --color-primary-dark: #1e40af;
}

@layer components {
  html {
    @apply transition-colors duration-300;
  }

  html.dark {
    color-scheme: dark;
  }
}